mes-core/src/main/resources/com/qcadoo/view/modules/view.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.qcadoo.com/modules/view" xmlns="http://www.qcadoo.com/modules/view" elementFormDefault="qualified">

	<xs:element name="view">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="resource" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="menu" />
	
</xs:schema>