mes-plugin/src/main/resources/com/qcadoo/plugin/modules/menu.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.qcadoo.com/modules/menu" xmlns="http://www.qcadoo.com/modules/menu" elementFormDefault="qualified">

	<xs:element name="menu">
		<xs:complexType>
			<xs:attribute name="first-level" type="xs:string" use="required" />
			<xs:attribute name="second-level" type="xs:string" use="required" />
			<xs:attribute name="view" type="xs:string" use="optional" />
			<xs:attribute name="url" type="xs:string" use="optional" />
		</xs:complexType>
	</xs:element>

</xs:schema>