mes-model/src/main/resources/com/qcadoo/model/modules/model.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.qcadoo.com/modules/model" xmlns="http://www.qcadoo.com/modules/model" elementFormDefault="qualified">

	<xs:element name="model">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="resource" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="field" />
	
	<xs:element name="hook" />
	
	<xs:element name="validator" />
	
	<xs:element name="dictionary" />

</xs:schema>